<div class="row">
	<div class="col s12 m6 l3" ng-repeat="store in stores">
		<div class="card white darken-1">
			<div class="card-content black-text">
				<span class="card-title">{{store.name}}</span>
				<p>{{store.address}}</p>
				<span class="red-text">{{store.openNow}}</span>
				<p>{{store.hours}}</p>
			</div>
			<div class="card-action">
				<a class="blue-text btn-flat" ng-href="#">Navigate</a>
				<a class="blue-text btn-flat" ng-href="#" ng-click="removePlace(store)">Unsave</a>
			</div>
		</div>
	</div>
</div>