<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="pac-card" id="pac-card">
	<div>
		<div id="title">
		Search for place
		</div>
		<div id="type-selector" class="pac-controls">
		<input type="radio" name="type" id="changetype-all" ng-model="types" value="[]">
		<label for="changetype-all">All</label>

		<input type="radio" name="type" id="changetype-establishment" ng-model="types" value="['establishment']">
		<label for="changetype-establishment">Establishments</label>

		<input type="radio" name="type" id="changetype-address" ng-model="types" value="['address']">
		<label for="changetype-address">Addresses</label>

		<input type="radio" name="type" id="changetype-geocode" ng-model="types" value="['geocode']">
		<label for="changetype-geocode">Geocodes</label>
		</div>
	</div>
	<div id="pac-container">
		<input id="pac-input" type="text"
			places-auto-complete
			types="{{types}}"
			on-place-changed="placeChanged()"
			component-restrictions="{country:'ca'}"
			placeholder="Enter a location">
	</div>
	</div>
	<ng-map center="current-location" class="map" id="map">
		<marker id="can" position="{{markerPosition}}" on-click="map.showInfoWindow('bar')"></marker>
		<info-window id="bar" visible-on-marker="{{markerVisible}}">
			<div id="infowindow-content">
				<button ng-click="savePlace()">Save</button>
				<span id="place-address">{{placeDetail.address}}</span>
			</div>
		</info-window>
		<!-- <directions
			draggable="true"
			travel-mode="DRIVING"
			origin="current-location"
			destination="{{placeDetail.address}}">
		</directions> -->
	</ng-map>
</body>
</html>